/* Css del index.php*/
body
{
	padding-top: 20px;
	padding-left: 20px;
	background-image:url(Logo/bg-dark.png);
}
#content
{
	margin-top: 30px;
	display: inline-block;
	float: left;
	margin-left: 100px;
}

#Cuerpo
{	margin-top: 40px;
	margin-left: 60px;
	margin-bottom: 60px;
	background-color: transparent;
	width: 1150px;
	height: 1200px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px  white;
	border: 2px solid rgba(0, 168, 255, 0.6);
}


#containerEx2 { 
    width: 140px; 
    margin: 0 auto; 
} 

#ex2 img{ 
    height: 110px; 
    width: 110px; 
    margin-left: 70px;
	margin-top: -25px; 
}

#IL{

-webkit-animation-name: girando;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 10s;
   -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes girando {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}



#Sepa
{  	display: block;
	width: 1100px;
	height: 50px;
	border-radius: 15px;
	background-color: rgba(0, 124, 218, 0.3);
	box-shadow: 0px 0px 20px  white;
	margin-top: 0px;
	margin-left: 20px;
}

.r
{display: inline-block;
float: right;
margin: 0px;
margin-top: 10px;
margin-right: 15px;
color: white;
width: 140px;
text-align: center;
cursor:  pointer;}

.r:hover
{background-color: rgba(34, 69, 98, 0.9);border-radius: 5px;}


.lbl{cursor: pointer;
	font-size: 18px;
	font-family: Adobe Fangsong Std R;

}

.im{
	width: 25px;margin-right: 5px;
	height: 25px;cursor: pointer;
}



.errores{
	background-color: rgba(0, 124, 218, 0.3);
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	display: none;
	font-family: Adobe Fangsong Std R;
	margin-top: -30px;
	margin-left: 280px;
	width: 170px;
	height: 35px;
	position: absolute;
}

.Erro
{	margin-left: 8px;
	margin-top: 3px;
	float: left;
	width: 25px;
	height: 25px;
	background: transparent;
}

.Mensa
{	font-size: 15px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.tris
{
	border-color:  transparent rgba(0, 124, 218, 0.3) transparent transparent;
	border-style: solid;
	border-width: 12px;
	width: 0;
	height: 0;
	display: none;
	margin-top: -27px;
	margin-left: 257px;
	position: absolute;
}



p{
	font-family: Adobe Fangsong Std R;
	font-size: 20px;
	color: white;text-align: center;cursor: default;
}

a{
	color: rgba(0, 243, 0, 0.4);
	 text-decoration: none;cursor: default;
}

#carru
{
	 margin-top: 30px;
}

h3
{cursor: default;
	color: white;/*  rgba(0, 159, 57, 0.7);rgba(0, 124, 218, 0.5);*/
	border-bottom: 3px solid white;
	width: 480px;font-family: Adobe Fangsong Std R;
	margin-left: -55px;
}

#comentarios{
	margin-left: 100px;
	width: 950px;
	height: 250px;
	text-align: center; 
    z-index:0;
    box-shadow: 0px -20px 40px -30px white,
               0px 20px 40px -30px white;
    top:0;
    bottom:0;
    left:200px;
    right:200px;
    -moz-border-radius:100px / 22px;
    border-radius:100px / 22px;


}

.Temas{
	display: inline-block;
	width: 270px;
	height: 200px;
	text-align: center;
	margin-top: 25px;
	margin-left: -2px;
	margin-right: -2px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: default;

}



#v1{
	border-left: 1px solid white;
	border-radius: 2px;cursor: default;
}

h2{
	color: rgba(0, 124, 218, 0.7);
	font-size: 30px;cursor: default;
}



