.fondo {
  height: 550px;
  background-image: url("../img/carrera.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center 0px;
  margin: 0;
}


#contdiv{
	overflow: scroll;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 480px;
}

@media (max-width: 400px) {
    .navbar-brand{
    	font-size: 16px;
    }
}
