#ErrorPladiv{
	display: none;
}

#ErrorCardiv{
	display: none;
}

#ErrorSemdiv{
	display: none;
}

#ErrorEmpdiv{
	display: none;
}

#ErrorNom2div{
	display: none;
}

#ErrorAp2div{
	display: none;
}

#ErrorAp2lbl{
	display: none;
}

#ErrorCatlbl{
	display: none;
}

#ErrorEmplbl{
	display: none;
}

#ErrorNom2lbl{
	display: none;
}